<div class="header-text">
    <p class="small-text1">Stay safe, wear mask</p>
    <h1>Get Your Vaccine <br> & Fight Against The <br> <span class="gradient-text">Covid-19</span></h1>
    <p class="small-text">To end the coronavirus forever, Vaccines are the most <br> effective & only way to prevent infectious diseases.</p>
</div>

<div class="form-row">
    <button type="submit" class="submit-button" (click)="registerVaccinationAppointment()">Apply Now</button>
</div>

<div class="image1">
    <img src="\assets\img\vaccination2.png" alt="Vaccination2">
</div>
