<div class="header-text">
    <p class="small-text1">Did You Know?</p>
    <h1>Getting Vaccinated <br> helps in reducing <br> <span class="gradient-text">hospitalizations.</span></h1>
    <p class="small-text">Staying Safe Starts with Vaccination</p>
</div>
<div class="form-row">
    <button type="submit" class="submit-button" (click)="viewAllVaccineBatches()">View Vaccine Batch Information</button>
</div>

<div class="image">
    <img src="\assets\img\homepageafterlogin.png" alt="homepage_after_login">
</div>
