<footer>
    <div class="footer-info">
        <p>Contact us: vaxicare&#64;gmail.com</p>
        <p>Phone: 03-4455-7867</p>
    </div>
    <div class="social-icons">
        <a href="https://www.facebook.com"><img src="assets\img\facebook-icon.png" alt="Facebook"></a>
        <a href="https://www.twitter.com"><img src="assets\img\twitter-icon.png" alt="Twitter"></a>
        <a href="https://www.instagram.com"><img src="assets\img\instagram-icon.png" alt="Instagram"></a>
    </div>
    <div class="vaccination-message">
        <p>Get vaccinated and stay protected! Together, let's fight against COVID-19.</p>
        <p>Follow us on social media for updates and vaccination tips!</p>
    </div>
</footer>
